*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}

.header{
    width: 100%;
    display: flex;
    background-color: blueviolet;
    /* justify-content: space-evenly */
}
.link>a{
/* margin: 2%; */
padding: 2%;
}
.link{
    margin-left: 70%;
}